{% extends "manager/layout.html" %}
{% block script %}
<script type="text/babel">

	const TituloUsuario = props => <div><h2>{props.nombre}</h2></div>

	class App extends React.Component {
		constructor(props){
			super(props)
			this.state={
				texto: 'algo pasó por aquí',
				usuarios: []
			}
			this.obtenerDatos()
		}

		obtenerDatos(){
			let datos = {}
			fetch('usuarios')
			.then(response => response.json())
			.then(data => {
				for(var llave in data){
					this.setState({
						usuarios: [...this.state.usuarios, {username: llave, nombre: data[llave]}]
					})
				}
				console.log('datos cargados')
			})
		}

		render(){
			console.log('renderizando...', typeof this.state.usuarios)
			return <div>Usuarios: 
			{this.state.usuarios.map(usuario => (
				<TituloUsuario nombre={usuario.nombre} />
			))}
			</div>
		}
	}

	ReactDOM.render(<App />, document.querySelector("#app"))
</script>

{% endblock %}